:root {
    --font-body: 'Quicksand', sans-serif;
    --color-light: #fff;
    --gradient: linear-gradient(45deg,
            hsl(356deg 85% 18%) 0%,
            hsl(354deg 48% 28%) 25%,
            hsl(358deg 41% 36%) 50%,
            hsl(3deg 46% 41%) 75%,
            hsl(2deg 52% 47%) 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    height: 100vh;
}
.container-input{
    height: 300px;
    /* width: 50%; */
    /* min-width: 250px; */
    /* max-width: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    background: grey;
    border-radius: 25px;
    position: relative;
}

input {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 25px;
    font-size: 20px;
    padding: 18px 400px 18px 20px;
    border: none;
}

input:focus {
    outline: none; 
}

button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
}

button i{
    color: rgb(93,94,95);
}

button:hover i{
    color: rgb(162, 163, 163);
}



a {
    color: var(--color-light) !important;
}

.bg-red {
    background-image: var(--gradient);
}

.logo:hover, .logo:visited {
    color: var(--color-light);

}

.logo {
    font-size: 2rem;
    color: var(--color-light);
}

.navbar-toggler {
    box-shadow: none !important;
    border-color: var(--color-light);
}

.nav-link {
    color: #fff;
    font-weight: 600;
}

.nav-link:hover {
    color: #56070C !important;
}

.my-sm {
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 3rem;
}

.icon {
    font-size: 2.5rem;
}